/* 
Colores principales sacados desde:
https://realtimecolors.com/
Sombras y luces desde:
https://maketintsandshades.com/
*/

:root{
    --text: #d5f6e5;
    --background: #072214;
    --primary: #92e8e6;
    --secondary: #370b22;
    --accent: #d5373d;
    
    --text-rgb: 213, 246, 229;
    --background-rgb: 7, 34, 20;
    --primary-rgb: 146, 232, 230;
    --secondary-rgb: 55, 11, 34;
    --accent-rgb: 213, 55, 61;

    --text-d1: #c0ddce;
    --text-d2: #aac5b7;
    --text-d3: #95aca0;
    --text-d4: #809489;
    --text-d5: #6b7b73;
    --text-d6: #55625c;
    --text-d7: #404a45;
    --text-d8: #2b312e;
    --text-d9: #151917;
    --text-l1: #d9f7e8;
    --text-l2: #ddf8ea;
    --text-l3: #e2f9ed;
    --text-l4: #e6faef;
    --text-l5: #eafbf2;
    --text-l6: #eefbf5;
    --text-l7: #f2fcf7;
    --text-l8: #f7fdfa;
    --text-l9: #fbfefc;
    
    --background-d1: #061f12;
    --background-d2: #061b10;
    --background-d3: #05180e;
    --background-d4: #04140c;
    --background-d5: #04110a;
    --background-d6: #030e08;
    --background-d7: #020a06;
    --background-d8: #010704;
    --background-d9: #010302;
    --background-l1: #20382c;
    --background-l2: #394e43;
    --background-l3: #51645b;
    --background-l4: #6a7a72;
    --background-l5: #83918a;
    --background-l6: #9ca7a1;
    --background-l7: #b5bdb9;
    --background-l8: #cdd3d0;
    --background-l9: #e6e9e8;
    
    --primary-d1: #83d1cf;
    --primary-d2: #75bab8;
    --primary-d3: #66a2a1;
    --primary-d4: #588b8a;
    --primary-d5: #497473;
    --primary-d6: #3a5d5c;
    --primary-d7: #2c4645;
    --primary-d8: #1d2e2e;
    --primary-d9: #0f1717;
    --primary-l1: #9deae9;
    --primary-l2: #a8edeb;
    --primary-l3: #b3efee;
    --primary-l4: #bef1f0;
    --primary-l5: #c9f4f3;
    --primary-l6: #d3f6f5;
    --primary-l7: #def8f8;
    --primary-l8: #e9fafa;
    --primary-l9: #f4fdfd;
    
    --secondary-d1: #320a1f;
    --secondary-d2: #2c091b;
    --secondary-d3: #270818;
    --secondary-d4: #210714;
    --secondary-d5: #1c0611;
    --secondary-d6: #16040e;
    --secondary-d7: #10030a;
    --secondary-d8: #0b0207;
    --secondary-d9: #050103;
    --secondary-l1: #4b2338;
    --secondary-l2: #5f3c4e;
    --secondary-l3: #735464;
    --secondary-l4: #876d7a;
    --secondary-l5: #9b8591;
    --secondary-l6: #af9da7;
    --secondary-l7: #c3b6bd;
    --secondary-l8: #d7ced3;
    --secondary-l9: #ebe7e9;
    
    --accent-d1: #c03237;
    --accent-d2: #aa2c31;
    --accent-d3: #95272b;
    --accent-d4: #802125;
    --accent-d5: #6b1c1f;
    --accent-d6: #551618;
    --accent-d7: #401012;
    --accent-d8: #2b0b0c;
    --accent-d9: #150506;
    --accent-l1: #d94b50;
    --accent-l2: #dd5f64;
    --accent-l3: #e27377;
    --accent-l4: #e6878b;
    --accent-l5: #ea9b9e;
    --accent-l6: #eeafb1;
    --accent-l7: #f2c3c5;
    --accent-l8: #f7d7d8;
    --accent-l9: #fbebec;
}