{% extends "base.html" %}

{% block cuerpo %}

        


    <div class="container">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>Perfil de desarrollador</h1>
                    </div>
                    <!-- <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">User Profile</li>
                        </ol>
                    </div> -->
                </div>
            </div>
        </section>
        
        <div class="row">
            <div class="col-md-3">
                
                <!-- card perfil -->
                <div class="card">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="https://media.licdn.com/dms/image/C5603AQH2JiOovTqxbQ/profile-displayphoto-shrink_800_800/0/1661891723511?e=1693440000&v=beta&t=EqBm514A7QqlZwkdyA8oxGoJc5HiQY4G13nkpJv69zU" alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">Víctor Manuel Mendoza Rocha</h3>
                        <p class="text-muted text-center">Software Engineer</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                Desarrollador con 5+ años de experiencia en desarrollo, enfocado principalmente en web, front-end y back-end.
                            </li>
                        </ul>
                        <a href="https://www.linkedin.com/in/vimrc/" target=”_blank” class="btn btn-primary btn-block"><b><i class="fa-brands fa-linkedin-in"></i> LinkedIn</b></a>
                    </div>
                </div>
                <!-- ./card perfil -->

                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Acerca de mí</h3>
                    </div>
        
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Educación</strong>
                        <p class="text-muted">
                            Licenciatura en Ciencia Computacionales, Facultad de Ciencias Físico-Matemáticas UANL
                        </p>
                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Locación</strong>
                        <p class="text-muted">Monterrey, Nuevo León, México</p>
                        <hr>
                        <strong><i class="fas fa-pencil-alt mr-1"></i> Habilidades</strong>
                        <p class="text-muted" id = "mad-skillz"></p>
                        <strong><i class="fas fa-file-alt mr-1"></i>Extras</strong>
                        <p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    Español - Lengua nativa
                                </li>
                                <li class="list-group-item">
                                    Inglés - Nivel profesional
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <!-- ./card -->
                
            </div>
        
            
            
        
            
        <div class="col-md-9">
            <div class="card">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Experiencia</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" disabled>Proyectos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contacto</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>En construcción</button>
                    </li>
                  </ul>
                  <div class="card-body">
                    
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="{{ url_for('static', filename='img/dev_icon.jpg') }}" alt="user image">
                                    <span class="username">
                                        <a href="#">Analista de Sistemas - Gobierno del Estado de Nuevo León</a>
                                    </span>
                                    <span class="description">2018 - 2023</span>
                                </div>
                                <p>
                                    Implementación de mantenimiento de versiones de control de sistemas.
                                    Desarrollo de sistemas internos usando diversos lenguajes y tecnologías (JAVA, PHP7, .NET, Vue.js, SQL, etc..).
                                    
                                </p>
                            </div>
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="{{ url_for('static', filename='img/dev_icon.jpg') }}" alt="user image">
                                    <span class="username">
                                        <a href="#">Desarrollador Web - Human Quality</a>
                                    </span>
                                    <span class="description">2017 - 2018</span>
                                </div>
                                <p>
                                    Desarrollo de aplicaciones web, principalmente en PHP y JS.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                            
                        </div>
                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> vimrc.06.89@gmail.com</li>
                                
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
                      </div>    
                  </div>
            </div>
        </div>
    

    {% endblock %}

    
    {% block sextras %}
    <script>
        $( document ).ready(function() {
            console.log( "perfil dayo!" );
            AgregarHabilidades();
        });
        
        
        function AgregarHabilidades(){
            var back = ['PHP7/8', 'Python','Java','NET','MySQL'];
            var front = ['Vue.js','Node.js','Javascript','.NET'];
            var tech = ['GIT','Node.js','CodeIgniter3/4','Composer','npm','YARN'];
            
            $.each(back,function(i, v){
                AgregarElementos(v, 'back');
            });
            $.each(front,function(i, v){
                AgregarElementos(v, 'front');
            });
            $.each(tech,function(i, v){
                AgregarElementos(v, 'tech');
            });
        }
        
        function AgregarElementos(etiqueta, tipo){
            var contenedorLenguajes = $("#mad-skillz");
            var elemento = `<span class="tag skill-${tipo}">${etiqueta}</span> `;
            contenedorLenguajes.append(elemento);
        }
    </script>
    
    {% endblock %}